.navBarDefault {
  background-color: #17171a;
  box-shadow: initial !important;
  border-bottom: 1px solid #fff !important;
}
.css-dh0tux {
  background: #17161a !important;
}
.sideBarUL .item>a:hover,
.hideFrontLine .active>a {
  background-color: #57535c;
}
/* .sideBarUL .item > a.sideBarUL ul .item > ul > li > a {
  display: none;
} */
